h1 {
  font-size: 64px;
  font-family: "Helvetica Neue light", sans-serif;
  font-weight:lighter;
  color: grey;
  text-align: center;
  font-weight: uppercase;

}

li {
  font-size: 18px;
  font-family: "Helvetica Neue light", sans-serif;
  font-weight: lighter;
  color: white;

}
