/* Main Body */

body {
  font-family: "Helvetica Neue light", sans-serif;
}

h1#header-title {
  font-family: "Helvetica Neue light", sans-serif;
  font-size: 64px;
  color: grey;
  text-align: center;
  font-weight: uppercase;
  font-weight: lighter;
}

h3#header-subheading {
  font-size: 34px;
  font-family: "Helvetica Neue light", sans-serif;
  font-weight:lighter;
  color: #900C3F;
  text-align: center;
  font-weight: uppercase;
}

/* NAVBAR */
.nav {
  background-color: #2B3856;
  font-size: 18px;
  padding: 0px;
  text-align: center;
  margin-bottom: 5%;
}

nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  background: #2B3856;
  width: 100%;
}

nav > ul > li {
  float: left;
  width: 20%;
  line-height: 65px;
  position: relative;
  font-size: 18px;
  font-family: "Helvetica Neue light", sans-serif;
  font-weight: lighter;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

nav > ul > li > a {
  color: white;
  padding: 0;
}

nav > ul > li:hover > a {
  color: white;
  padding: 0;
}

ul.drop-menu {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  padding: 0;
  background: #2B3856;
  color: white;
}

ul.drop-menu li {
  display: none;
}

li:hover > ul.drop-menu li {
  display: block;
}

li a:hover {
  background-color: #1A5276; 
}



